<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guli.edufront.mapper.EduCourseMapper">
    <!--根据课程id获取课程相关信息 CourseWebVo getWebCourseInfo(String id);-->
    <select id="getWebCourseInfo" resultType="com.guli.edufront.entity.CourseWebVo">
        SELECT
        ec.id,ec.title,ec.cover,ec.price,ec.lesson_num AS lessonNum,ec.buy_count buyCount,ec.view_count viewCount,
        et.name AS teacherName,et.id teacherId,et.intro,et.avatar,
        es1.title AS subjectLevelOne,es1.id subjectLevelOneId,
        es2.title AS subjectLevelTwo,es2.id subjectLevelTwoId,
        ecd.description
        FROM edu_course ec LEFT JOIN edu_course_description ecd ON ec.id = ecd.id
        LEFT JOIN edu_teacher et ON ec.teacher_id = et.id
        LEFT JOIN edu_subject es1 ON ec.subject_parent_id = es1.id
        LEFT JOIN edu_subject es2 ON ec.subject_id = es2.id
        WHERE ec.id = #{id}
    </select>


</mapper>
